<h1>Good News Network Scraper</h1>

<h2>News to make you smile... and LAUGH!</h2>

<ul>
    {{#each Article}}
</ul>

<div id="noteDiv">
    {{#each Note}}
    <!--  not sure on how to do this part -->
        {{> articles/article-block _id=}}
</div>