<h1>Good News Network Scraper</h1>

<h2>News to make you smile... and LAUGH!</h2>

{{!-- <button id="scraper">Show me the happy news!</button> --}}

<ul id="articles">
    {{#each Article}}
    {{/each}}
</ul>

