h2 {
    font-family: 'Acme', sans-serif;
    position: relative;
    top: -10px;
    left: 20px;
}
    
h1 {
    font-family: 'Happy Monkey', cursive;
    color: rgb(230, 88, 36);
}

img {
    width: 400px;
}

#sun {
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    z-index: -1;
}

body {
    /* background-color: rgb(230, 88, 36); */
    background-image: url("/images/orange-gradient.jpg");
}

#header {
    background-color: white;
    height: 100px;
    padding-top: 10px;
    padding-left: 20px;
    border-bottom: 2px solid black;
}

#articles {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Happy Monkey', cursive;
}

#button {
    color: black;
    font-family: 'Acme', sans-serif;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    margin-left: 10px;
    cursor:pointer;

}

img {
    border: 2px solid black; 
}

#submitNote {
    background-color: rgb(230, 88, 36);
}

.modal-title {
    color: rgb(230, 88, 36);
}

@media screen and (max-width: 700px) {
    h1 {
        font-size: 1.9em;
    }

    h2 {
        font-size: 1.7em;
    }

    #button {
        margin: 10px;  
        width: 150px;     
    }

    img {
        display: block;
        margin-bottom: 10px;
    }

   h4 {
       margin-top: 20px;
   }
